name: fast_checks

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:


jobs:
  codespell:
    uses: cclauss/gha_fast_then_slow/.github/workflows/codespell.yml@main
  lint:
    uses: cclauss/gha_fast_then_slow/.github/workflows/lint.yml@main
  precommit:
    uses: cclauss/gha_fast_then_slow/.github/workflows/precommit.yml@main

  build:
    needs: &fast_jobs
      [codespell, lint, precommit]
    uses: cclauss/gha_fast_then_slow/.github/workflows/build.yml@main

  test:
    needs: *fast_jobs
    uses: cclauss/gha_fast_then_slow/.github/workflows/test.yml@main

  publish:
    needs: [build, test]
    uses: cclauss/gha_fast_then_slow/.github/workflows/publish.yml@main
