name: fast_checks

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:


jobs:
  fast_checks:
    uses: "cclauss/gha_fast_then_slow/.github/workflows/lint.yml@main"

  slow_checks:
    needs: fast_checks
    uses: "cclauss/gha_fast_then_slow/.github/workflows/lint.yml@main"
