name: fast_checks

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:


jobs:
  codespell:
    uses: "cclauss/gha_fast_then_slow/.github/workflows/codespell.yml@main"
  lint:
    uses: "cclauss/gha_fast_then_slow/.github/workflows/lint.yml@main"
  recommit:
    uses: "cclauss/gha_fast_then_slow/.github/workflows/precommit.yml@main"

  slow_checks:
    needs: fast_checks
    uses: "cclauss/gha_fast_then_slow/.github/build/lint.yml@main"
